$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {
  // colors
  --orange: #ff501c;
  --off-white: #f0efed;
  --black: #080b1b;
  --peach: #ff8b68;
  --blue: #1a2456;
  --pink: #efc2b3;
  --red: #ff8d6b;
}
